{% extends 'base.html' %}

{% block title %}Dashboard{% endblock %}

{% block content %}
  <h1>Welcome to Your Dashboard</h1>
  <div class="row">
    <div class="col-6 col-md-3 mb-3">
      <a href="/add_policy" class="btn btn-primary btn-custom btn-block">
        Add Policy
      </a>
    </div>
    <div class="col-6 col-md-3 mb-3">
      <a href="/view_policies" class="btn btn-secondary btn-custom btn-block">
        View Policies
      </a>
    </div>
    <div class="col-6 col-md-3 mb-3">
      <a href="/add_claim" class="btn btn-info btn-custom btn-block">
        File a Claim
      </a>
    </div>
    <div class="col-6 col-md-3 mb-3">
      <a href="/view_claims" class="btn btn-warning btn-custom btn-block">
        View Claims
      </a>
    </div>
  </div>
{% endblock %}
